.navbar {
  position: fixed;
  top: 0;
  background-color: #fff;
  width: 100%;
  display: block;
  z-index: 1000;
  transition: top 0.3s;
  .navbar-brand {
    color: $primary-color;
    font-size: 1.5rem;
    font-weight: 700;
    @include align-center;

    img {
      width: 35px;
      margin-right: 0.7rem;
    }
    &:hover {
      color: $primary-color;
    }
  }

  .nav-link {
    font-weight: 600;
    color: #000000;
    transition: $transition;
    margin-left: 1rem;

    &:hover {
      color: $primary-color;
    }
  }
}
